{% extends "base.html" %}

{% block title %}Students{% endblock %}

{% block content %} 
<h2 align='center'>Student Table</h2>
<table class="table table-striped table-bordered table-hover">
    <tr class="bg-dark text-white">
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Student email</th>
        <th>Actions</th>
    </tr>
    {% for s in students %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.fullname }}</td>
            <td>{{ s.email }}</td>
            <td>
                <a href="/students/update/{{s.id}}">Edit</a>
                <br>
                <a href="/students/delete/{{s.id}}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>

<div class="form" align='center'>
    <form action="/students" method="POST">
        <input type="text" name="fullname" id="fullname" required placeholder="Enter fullname">
        <input type="email" name="email" id="email" required placeholder='Enter email'>
        <input type="submit" value="Add Student">
    </form>
</div>


{% endblock %}